<!DOCTYPE html>
<html lang="en">
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title><%- title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta property="og:title" content="<%- title %>" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="/images/logo.png">
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<link href="/styles/sem.css" type="text/css" rel="stylesheet" />
		<link href="/styles/main.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/sem.js"></script>
		<script type="text/javascript" src="/js/angular.js"></script>
		<script>
		$(document).ready(function(){
			$('.menubutton').popup({
				 on: 'click',
				 html: '<div class="ui link list"><a class="item" href="//42gc.ru">Сокращалка</a><span class="item">Список GC сервисов</span><div class="ui fitted divider"></div><a class="item" href="//kern0.co">Блог</a><a class="item" href="/about">О Проекте</a></div>',
				 position: 'top left',
				 variation: 'inverted'
			  });
		});
		</script>
	</head>
	<body>
		<div class="wrapper">
			<div class="pixel"></div>
			<div class="content">
			<%- body %>
			</div>
		</div>
		<div class="menubutton"></div>
		<p class="disclaimer"><a href="http://kern0.co/42gc-betatest">Нашли баг?</a></p>
	</body>
</html>
