<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title><%- title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta property="og:title" content="<%- title %>" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="/images/logo.png">
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link href="/styles/sem.css" type="text/css" rel="stylesheet" />
		<link href="/styles/main.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="/js/jquery.js"></script>
		<script type="text/javascript" src="/js/sem.js"></script>
		<script type="text/javascript" src="/js/angular.js"></script>
	</head>
	<body>
	<div class="container gc-center">
	<%- body %>
	<div class="ui horizontal icon divider">
		<i class="circular heart icon"></i>
	</div>
	<p class="gc-pull-right"><a href="//github.com/Kern0/42GC" class="gc-link">Github</a> &#149; <a href="//kern0.ru" class="gc-link">Kern0</a> &#149; <a href="//greencubes.org" class="gc-link">GreenCubes</a></p>
	</div>
	</body>
</html>
