   <h1>42GC<br>
   О Проекте</h1>
   <h2>В чём смысл этого "проекта"?</h2>
   <p>Смысл только в моей практике в веб-программировании, в частности <a href="//nodejs.org">Node.JS</a>, и реализации идей которые приходят в мою дурную голову.</p>
   <h2>Окей, а что ты имеешь на данный момент?</h2>
   <p>Ну, у меня есть сокращалка которую я изначально хотел сделать ещё когда я был модератором на RPG сервере <a href="//greencubes.org">GreenCubes</a>, но тогда что-то не срослось и идея забылась.
   Когда я активно взялся за изучение Node.JS, я решил в качестве проекта "на одни выходные" сделать простую сокращалку. В итоге получилось это.</p>
   <h2>Ладно.. а что нибудь ещё будет?</h2>
   <p>Да, конечно. У меня в идеях была реализация простенького хранилища картинок. А ещё я решил сделать максимально полный каталог внешних сайтов связанных с GreenCubes.</p>
   <h2>Помощь нужна?</h2>
   <p>Спасибо, но нет. Если мне кто-то будет помогать, то это будет уже далеко не моя практика ;)</p>
   <h2>А кто именно автор?</h2>
   <p>Не хорошо спрашивать об этом в конце "разговора" :) Автор - <a href="//kern0.ru">Kern0</a> он же <a href="//forum.greencubes.org/memberlist.php?mode=viewprofile&u=95525">Kernel</a> на серверах GreenCubes.</p>
   <a href="/" class="ui green small button"><%= i18n('На главную') %></a>
