	<h1>42GC<br>
	Получайте вашу ссылочку!</h1>
	<h3>Оригинал — <a href="<%= originalURL %>"><%= originalURL %></a></h3>
	<h3>Сокращённый — <a href="http://42gc.ru/<%= shortedURL %>"><%= shortedURL %></a></h3>
	<a href="/" class="ui green button">Ещё по одной?</a>
