body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: rgb(85, 85, 85);
}
.container {
  padding-right: 20%;
  padding-left: 20%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.center {
  margin: 0 auto !important;
  text-align: center !important;
  display: block !important;
}

.loginerr {
  margin-right: 30% !important;
  margin-left: 30% !important;
} 

.ui.table tr.gc-accepted td, .ui.table td.gc-accepted {
  background-color: rgb(191,221,180) !important;
  color: rgb(11,93,0) !important;
  box-shadow: 2px 0px 0px rgb(17, 144, 0) inset;
}

.ui.table tr.gc-accepted:hover td, .ui.table td.gc-accepted:hover {
  background-color: rgb(179,215,167) !important;
  color: rgb(15,124,0) !important;
}

.ui.table tr.gc-rejected td, .ui.table td.gc-rejected {
  background-color: rgb(219,177,198) !important;
  color: rgb(166, 77, 121) !important;
  box-shadow: 2px 0px 0px rgb(166, 77, 121) inset;
}

.ui.table tr.gc-rejected:hover td, .ui.table td.gc-rejected:hover {
  background-color: rgb(211,160,185) !important;
  color: rgb(131,61,96) !important;
}

.link {
  color: rgb(85, 85, 85);
  text-decoration: none;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
