@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic);

body {
  font-family: "PT Sans",Helvetica,Arial,sans-serif;
  color: #ffffff;
  font-weight: 800;
  background-color: rgb(125, 188, 185);
  margin: 0px;
}

html, body {
	height: 99%;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.wrapper {
	border-top: 8px solid rgb(91, 171, 167);
	min-height: 100%;
	height: auto !important;
	margin: 0px auto -61px;
	padding-right: 20%;
	padding-left: 20%;
	text-align: center;
}

.push, .footer {
	height: 61px;
}

.footer {
	line-height: 1.5;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
}

.footer .link {
	color: #ffffff;
}

.footer .link:active, .footer .link:hover {
	color: #e6e6e6;
}

.links {
	padding: 0em 0em 0em 1em;
	float: left;
	list-style: none outside none;
	margin: 18px 15px 0px 0px;
}

.links.right {
	float: right;
}

.footer li {
	display: inline-block;
}

.content {
	padding-top: 20%;
}

.ui.form .field > label {
	color: #ffffff;
}

.ui.form textarea, .ui.form select, .ui.form input[type="text"], .ui.form input[type="password"] {
	border: 0px solid rgba(0, 0, 0, 0.15);
}
.icon {
	color: #555555;
}
.ui.form textarea:focus, .ui.form select:focus, .ui.form input[type="text"]:focus, .ui.form input[type="password"]:focus {
	border-radius: 0.3125em !important;
}

.center {
  margin: 0 auto !important;
  text-align: center !important;
  display: block !important;
}
