body {
  font-family: "PT Sans",Helvetica,Arial,sans-serif;
  color: #ffffff;
  font-weight: 800;
  background-color: rgb(125, 188, 185);
  margin: 0px;
}

html, body {
	height: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.menubutton {
   cursor: pointer;
   background: url(/images/logo.png) repeat scroll 0% 0% #222224;
   position: fixed;
   left: 20px;
   bottom: 20px;
   width: 32px;
   height: 32px;
}

.ui.top.right.popup {
    margin-left: -2.5em !important;
}

.ui.popup .menubutton {
   border: 0px solid transparent;
}

a.item, span.item {
   color: #ffffff !important;
   font-weight: bold;
}

.pixel {
	height: 8px;
	background-color: rgb(91, 171, 167);
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	margin: 0px auto -61px;
	text-align: center;
}

.push, .footer {
	height: 60px;
}

.footer {
	line-height: 1.5;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
}

.footer .link {
	color: #ffffff;
}

.footer .link:active, .footer .link:hover {
	color: #e6e6e6;
}

.links {
	padding: 0em 0em 0em 1em;
	float: left;
	list-style: none outside none;
	margin: 18px 15px 0px 0px;
}

.links.right {
	float: right;
}

.footer li {
	display: inline-block;
}

.content {
	padding-top: 10em;
}

.ui.form .field > label {
	color: #ffffff;
}

.ui.form textarea, .ui.form select, .ui.form input[type="text"], .ui.form input[type="password"] {
	border: 0px solid rgba(0, 0, 0, 0.15);
}
.icon {
	color: #555555;
}
.ui.form textarea:focus, .ui.form select:focus, .ui.form input[type="text"]:focus, .ui.form input[type="password"]:focus {
	border-radius: 0.3125em !important;
}

.center {
  margin: 0 auto !important;
  text-align: center !important;
  display: block !important;
}

input.origurl {
   border: 0px none !important;
   padding: 0px !important;
   background-color: transparent !important;
   color: rgb(255, 255, 255) !important;
   font-weight: bold;
   font-size: 1rem !important;
   width: 20em !important;
}

.three.column.mdash {
   padding: 0px;
   width: 10px;
}
